      <h1 class="my-4">Features</h1>

      <div class="row">
    <% @features.each do |feature| %>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
 
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#"><%= feature.code %></a>
              </h4>
              <p class="card-text"><%= feature.title %></p>
            </div>
          </div>
         
        </div>
    <% end %>
      </div>